<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">

        <style>
            html{
            }
            body{
                background-color: #222 !important;
                background-image: url('img/Synergo.png'), url('img/Redez.png');
                background-position: left bottom, right bottom ; 
                background-repeat: no-repeat; /* Do not repeat the image */
                background-size: 250px 250px, 250px 250px;
                
            }
            .navbar-dark{
                width: 80% !important;
                margin-left: auto;
                margin-right: auto;

            }
            div#giocatori_filter{
                display: none;
            }

            th{
                color: white !important;
            }

            .table-secondary, .table-secondary > th, .table-secondary > td{
                vertical-align: middle !important;
            }
            label{
                color: white !important;
            }
            div#giocatori_wrapper{
                position: center !important;
                width: 80% !important;
                margin-left: auto;
                margin-right: auto;
            }
            div.dataTables_wrapper div.dataTables_info{
                display: none !important; 
            }
            .hide{
                display: none;
            }
            .tooltip-inner {
                min-width: 350px;
                padding: 3px 8px;
                color: #fff;
                text-align: center;
                background-color: #000;
                border-radius: .25rem;
            }

            .modal-body{
                overflow-x: auto !important;
                overflow-y: auto !important;
            }
            .modal-footer {
                overflow-x: auto !important;
                overflow-y: auto !important;
            }
        </style>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/qdss/giocatori"><h1>Giocatori QDSS</h1></a>

            <div id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qdss/giocatori">Giocatori</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qdss/classifica">Classifica</a>
                    </li>
                </ul>
            </div>
        </nav>

        <table id="giocatori"  class="table table-hover" style="position:center;text-align:center;padding:50px;padding-top:0px;width: 80%">
            <thead></thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </body>


    <script>
        var games = <%- games %>;
        $(document).ready(function() {

            var table = $('#giocatori').DataTable( {
                data: games,
                "createdRow": function(row, data, dataIndex, cells) {
                    $(row).attr({class:"table-secondary"});
                    var cell = $('td', row).eq(1);
                    cell.attr("data-toggle", "modal");
                    cell.attr("data-target","#Modal-"+dataIndex);
                    cell.attr({rel:"modal"});
                    var elements = $();
                    var list = data.iscritti;
                    $.when(cell.append(
                        `<div id='Modal-${dataIndex}' class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header" style="align:center">
                                        <h4 >${data.nomeCompleto}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <img src="${data.logo}" width="150" heigth="150" style="padding:10px"><img>
                                        <div style="padding: 10px;">
                                            <hr style="height: 15px; width: 100%; margin: 0 auto;line-height:1px;background-color: white"; border:0 none; />
                                            <div style="float:none; padding:10px">
                                                <h4>Iscritti </h4>
                                                <table align="center" style="float:none; width: 100%;">
                                                    <thead>
                                                        <td></td>
                                                        <td><b>Discord Tag</b></td>
                                                        <td><b>Game Nickname</b></td>
                                                        <td><b>Discord Status</b></td>
                                                    </thead>
                                                    <tbody id="gioco-${dataIndex}" style="float:none;">
                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>`                                     
                    )).then( function() {
                        $.each(list, function(giochi, lista) {
                            var status;
                            if (lista.status == 1) status = '<img width="50" heigth="50" src="./img/green_dot.png"></img>';
                            else if (lista.status == 4) status = '<img width="50" heigth="50" src="./img/grey_dot.png"></img>';
                            else if (lista.status == 2) status = '<img width="50" heigth="50" src="./img/orange_dot.png"></img>';
                            else if (lista.status == 3) status = '<img width="50" heigth="50" src="./img/red_dot.png"></img>';
                            link = lista.avatar.replace("?size=2048", "?size=64");
                            elements = elements.add(
                                `<tr id="p-${dataIndex}-gioco">
                                    <td><img width="50" heigth="50" style="border-radius:50%" src="${link}"></img></td>
                                    <td>${lista.nome}</td>
                                    <td>${lista.nickname}</td>
                                    <td>${status}</td>
                                </tr>`);
                        })
                        for (i = 0; i < elements.length; i++) {
                            $('#gioco-'+dataIndex).append(elements[i]);
                        }
                    })
                },
                "dom": '<"top"i>rt<"bottom"flp><"clear">',
                "bPaginate": false,
                //"bFilter": false,
                "order": [[ 1, "asc" ]],
                 "columnDefs": [
                    {
                        "title": "Logo",
                        "targets": [ 0 ],
                        "data": "logo",
                        "render": function ( data, type, row, meta ) {
                            return `<img width="50" heigth="50" src="${data}"></img>`;
                        },
                        "visible": true,
                        "searchable": false,
                        "orderable": false
                    },
                    {
                        "title": "Gioco",
                        "targets": [ 1 ],
                        "data": "nomeCompleto",
                        "visible": true,
                        "searchable": true,
                        "orderable": false,
                    },
                    {
                        "title": "Iscritti",
                        "targets": [ 2 ],
                        "data": "iscritti.length",
                        "visible": true,
                        "searchable": false,
                        "orderable": true,
                    }
                ]
            } );

            $('#giocatori').removeClass( 'display' ).addClass('table table-hover');

            table.columns([1]).every( function () {
                var column = this;
                var title = $(this).text();
                var search = $(`</br><input type="text" placeholder="Search ${title}" />`)
                    .appendTo( $(column.header()))
                    .on( 'keyup change clear', function () {
                        if ( column.search() !== this.value ) {
                            column
                                .search( this.value )
                                .draw();
                        }
                    } );
            } );
        } );

    </script>
<html>