<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

        <style>
            html{
            }
            body{
                background-color: #222 !important;
                background-image: url('./img/Synergo.png'), url('./img/Redez.png');
                background-position: left bottom, right bottom ; 
                background-repeat: no-repeat; /* Do not repeat the image */
                background-size: 250px 250px, 250px 250px; 
            }
            .navbar-dark{
                width: 80% !important;
                margin-left: auto;
                margin-right: auto;

            }
            div#giocatori_filter{
                display: none;
            }
            th{
                color: white !important;
            }
            .table-secondary, .table-secondary > th, .table-secondary > td{
                vertical-align: middle !important;
            }
            label{
                color: white !important;
            }
            div#giocatori_wrapper{
                position: center !important;
                width: 80% !important;
                margin-left: auto;
                margin-right: auto;
            }
            div.dataTables_wrapper div.dataTables_info{
                display: none !important; 
            }
        </style>

    </head>
    <body> 
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/"><h1>Homepage</h1></a>

            <div id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qdss/giocatori">Giocatori</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qdss/classifica">Classifica</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <h4 style="color:white;">Comandi QDSS-Bot</h1>
            <ul class="list-group list-group-flush">
                <h6 style="color:white;">== Liste Giocatori ==</h6>
                <li class="list-group-item">+abbandona  :: Rimuove il proprio nome dalla lista del gioco specificato</li>
                <li class="list-group-item">+giochi     :: Elenca tutti i giochi supportati dal bot</li>
                <li class="list-group-item">+lista      :: Mostra i giocatori iscritti alla lista del gioco selezionato</li>
                <li class="list-group-item">+nickname   :: Modifica il nickname associato all'account di gioco registrato</li>
                <li class="list-group-item">+profilo    :: Mostra il profilo di un utente (XP, Reputazione, Giochi)</li>
                <li class="list-group-item">+registra   :: Iscriviti alla lista dei giocatori per un titolo, specificando opzionalmente il nickname, per poter essere contattato da altri utenti interessati</li>
        ​    </ul>
            <ul class="list-group list-group-flush">   
                <h6 style="color:white;">== Miscellaneous ==</h6>
                <li class="list-group-item">+approva    :: Assegna il ruolo Approvato ad un utente al di sotto del Livello 3. Disponibile solo ai Veterani.</li>
                <li class="list-group-item">+classifica :: Mostra la classifica degli utenti in base all'esperienza accumulata</li>
                <li class="list-group-item">+r_open     :: Avanza una richiesta per modifiche, aggiunta di giochi o feature al QDSS-Bot</li>
                <li class="list-group-item">+rep        :: Assegna un punto reputazione ad un utente ritenuto meritevole</li>
                <li class="list-group-item">+ricerca    :: Ricerca video sui canali youtube di Quei Due Sul Server o articoli su QDSS.it</li>
                <li class="list-group-item">+toprep     :: Mostra la classifica dei 10 utenti con la reputazione più alta</li>
            </ul>
        </div>


    </body>
<html>